a {
  color: $link-color;

  &:hover {
    color: $black;
  }
}

.logo {
  margin: 0 auto;
  display: block;
}

ul {
  list-style-type: square;
  list-style-position: inside;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

ul ul,
ol ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 15px;
}

ol ol,
ul ol {
  list-style-type: lower-latin;
  list-style-position: inside;
  margin-left: 15px;
}


//margin-right
.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

//margin-top
.mt-5 {
  margin-top: 5px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-50 {
  margin-top: 50px
}

//margin-bottom
.mb-0 {
  margin-bottom: 0;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.align-items-center {
  align-items: center;
}

h1 {
  color: $black;
  font-size: 36px;
  line-height: 54px;
  font-weight: 700;
}

h2 {
  color: $subText;
  font-size: 20px;
  line-height: 28px;
}

.w-33 {
  width: 30%;
}
